<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="style_global.css" media="all" />
    <link rel="stylesheet" type="text/css" href="style_attendance_list.css" media="all" />
  </head>
  <body >
    <header class="header">
      <nav class="global_nav">
        <ul>
          <li><a href="./userlist.html" class="nav_item">ユーザー管理</a></li>
          <li><a href="./workplace.html" class="nav_item">勤務場所管理</a></li>
          <li><a href="./worktime_list.html" class="nav_item">勤務時間集計</a></li>
          <li><a href="./login.html" class="nav_item">ログアウト</a></li>
        </ul>
      </nav>
    </header>
    <div class="main">
      <div class="main_contents">
        <div class="main_contents_title">
          <h1>
            ユーザー一覧
          </h1>
        </div>
        <button id="btnuser" onclick="location.href='./user_add.html'">新規登録</button>
        <br>
        <div class="main_contents_body">
        <table class="date-calender">
          <tr>
            <th>名前</th>
            <th>名前</th>
            <th>名前</th>
            <th>名前</th>
            <th>名前</th>
          </tr>
          <tr>
              <td><a href="./user_edit.html">名無し1</a></td>
              <td><a href="./user_edit.html">名無し2</a></td>
              <td><a href="./user_edit.html">名無し3</a></td>
              <td><a href="./user_edit.html">名無し4</a></td>
              <td><a href="./user_edit.html">名無し5</a></td>
          </tr>
          <tr>
            <td><a href="./user_edit.html">名無し6</a></td>
            <td><a href="./user_edit.html">名無し7</a></td>
            <td><a href="./user_edit.html">名無し8</a></td>
            <td><a href="./user_edit.html">名無し9</a></td>
            <td><a href="./user_edit.html">名無し10</a></td>
        </tr>
        </table>
        </div>
      </div>
    </div>
   </body>
</html>