<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="style_global.css" media="all" />
    <link rel="stylesheet" type="text/css" href="style_contact_address.css" media="all" />
  </head>
  <body>
    <header class="header">
      <nav class="global_nav">
        <ul>
          <li><a href="./kintai.html" class="nav_item">ユーザー管理</a></li>
          <li><a href="./workplace.html" class="nav_item">勤務場所管理</a></li>
          <li><a href="./worktime_list.html" class="nav_item">勤務時間集計</a></li>
          <li><a href="./login.html" class="nav_item">ログアウト</a></li>
        </ul>
      </nav>
    </header>
    <div class="main">
      <div class="main_contents">
        <div class="main_contents_title">
          <h1>ユーザー新規登録</h1>
        </div>
        <div class="main_contents_body">
          <form class="h-adr">
            <table class="main_contents_table">
              <span class="p-country-name" style="display:none;">Japan</span>
              <tr>
                <th>名前</th>
                <td><input type="text" name="tel" id="tel"/></td>
              </tr>
              <tr>
                <th>ログインID</th>
                <td><input type="text" name="tel" id="tel"/></td>
              </tr>
              <tr>
                <th>パスワード</th>
                <td><input type="text" name="tel" id="tel"/></td>
              </tr>
            </table>
            <input type="button" id="btn1" value="新規登録" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>